:root {
  --text-color: #030303;
  --background-color: #c3c3c3;
  --white: #ffffff;
  --black: #000;
  --gray: #939393;

  --default-c-1: #7F4A87;
  --default_bg: #F7F5FA;
  --default_placeholder: #787878;
}
