:root {
  --text-color: #030303;
  --background-color: #c3c3c3;
  --gray2: #4F4F4F;
  --input-border-default: 1px solid #ECEBEB;
  --input-border-active: 1px solid #F98347;
  --gray-black: #3D3734;
  --gray4: #BDBDBD;
  --gray-background: #F7F7F7;
  --gray-content: #B1AFAE;
  --red: #ED2424;
}
