:root {
  --text-color: #030303;
  --background-color: #c3c3c3;
  --grey-line: #ECEBEB;
  --grey-background: #F7F7F7;
  --black: #3D3734;
  --white: #ffffff;

  --default-c-1: #7F4A87;
  --default_bg: #F7F5FA;
  --default_placeholder: #787878;
}
