@import "core/_normalize";
@import "core/_reset";
@import "core/_fonts";
@import "core/_media";

html,
body,
#app {
  height: max-content;
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.label-inter {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  white-space: nowrap;

  color: var(--black);
}

.tooltip--info-arrow {
  &.bottom {
    &-left {
      left: 10%;
      top: 100%;
      transform: translateX(-50%);
    }
    &-center {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
    }
    &-right {
      left: 90%;
      top: 100%;
      transform: translateX(-50%);
    }
  }
  &.top {
    &-left {
      left: 10%;
      top: -25px;
      transform: translateX(-50%) rotate(180deg);
    }
    &-center {
      left: 50%;
      top: -25px;
      transform: translateX(-50%) rotate(180deg);
    }
    &-right {
      left: 90%;
      top: -25px;
      transform: translateX(-50%) rotate(180deg);
    }
  }
  &.left {
    &-top {
      top: 10%;
      bottom: initial;
      right: initial;
      left: calc(100% + 12px);
      transform: translateX(-50%) rotate(-90deg);
    }
    &-center {
      top: calc(50% - 12px);
      bottom: initial;
      right: initial;
      left: calc(100% + 12px);
      transform: translateX(-50%) rotate(-90deg);
    }
    &-bottom {
      bottom: 12px;
      right: initial;
      left: calc(100% + 12px);
      transform: translateX(-50%) rotate(-90deg);
    }
  }
  &.right {
    &-top {
      top: 10%;
      bottom: initial;
      right: initial;
      left: -12px;
      transform: translateX(-50%) rotate(90deg);
    }
    &-center {
      top: calc(50% - 12px);
      bottom: initial;
      right: initial;
      left: -12px;
      transform: translateX(-50%) rotate(90deg);
    }
    &-bottom {
      bottom: 12px;
      right: initial;
      left: -12px;
      transform: translateX(-50%) rotate(90deg);
    }
  }
}

i.icon {
  display: flex;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-color: #b1afae;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  &.icon-search {
    mask-image: url("../assets/Info.svg");
  }
}
