@import "core/_normalize";
@import "core/_reset";
@import "core/_fonts";
@import "core/_media";
@import "common/tooltip";

html,
body,
#app {
  height: max-content;
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}


.label-inter {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  white-space: nowrap;

  color: var(--black);
}

i.icon {
  display: flex;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-color: #b1afae;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  &.icon-search {
    mask-image: url("../stories/assets/Info.svg");
  }
}
